body {
  font-family: Arial, sans-serif;
}
*{
  
  margin: 0px;
  padding: 0px;
}

.box{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box2{
  position: absolute;
  top: 70px;
  margin: 0px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.logo1{
  
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box2 h2{
  margin-top: 5px;
  font-size: 110%;
}
.logo1 img{
  width: 170px;
  height: 50px;
  
}
.sectoin{
  margin-top: 5px;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  
  
}
.sectoin img{
  
  
}
.bank{
  text-align: center;
  border-radius: 20px;
}
.bank
{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bank:hover 
{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
